{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h2>Register</h2>
    <form method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input name="email" type="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input name="password" type="password" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Role</label>
        <select name="role" class="form-select">
          <option value="receptionist">Receptionist</option>
          <option value="doctor">Doctor</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button class="btn btn-success w-100">Register</button>
    </form>
    <p class="mt-2 text-center">
      <a href="{{ url_for('login') }}">Back to Login</a>
    </p>
  </div>
</div>
{% endblock %}


